<!DOCTYPE html>
<html>
    <head>
        <title>BD de Noticias da Sala de Situacao</title>
    </head>
    <body>
        <p>Recuperar noticias do Banco</p>
        <p>Preencha os campos pelos quais deseja filtrar as noticias</p>
        <p>Deixe em banco algum campo caso nao se importe com o valor do campo correspondente</p>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message[1] }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form action="" method="post">
            {{ form.csrf }}
            <table>
            <tr> <td> {{ form.title.label }} </td> <td> {{ form.title }} </td> </tr>
            <tr> <td> {{ form.country.label }} </td> <td> {{ form.country }} </td> </tr>
            <tr> <td> {{ form.region.label }} </td> <td> {{ form.region }} </td> </tr>
            <tr> <td> {{ form.content.label }} </td> <td> {{ form.content }} </td> </tr>
            <tr> <td> {{ form.disease.label }} </td> <td> {{ form.disease }} </td> </tr>
            </table>
            <!-- <div class="input submit">
            <!-- <input type="submit" value="Submit" /> -->
            <!-- </div> -->
            <button type="submit" onclick="news.csv"> Download </button>
        </form>
    </body>
</html>
