<!DOCTYPE html>
<html>
    <head>
        <title>BD de Noticias da Sala de Situacao</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <p>Recuperar noticias do Banco</p>
        <p>Preencha os campos pelos quais deseja filtrar as noticias</p>
        <p>Deixe em banco algum campo caso nao se importe com o valor do campo correspondente</p>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message[1] }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form action="" method="post">
            {{ form.csrf }}
            <table>
            <tr> <td> {{ form.title.label }} </td> <td> {{ form.title }} </td> </tr>
            <tr> <td> {{ form.country.label }} </td> <td> {{ form.country }} </td> </tr>
            <tr> <td> {{ form.region.label }} </td> <td> {{ form.region }} </td> </tr>
            <tr> <td> {{ form.content.label }} </td> <td> {{ form.content }} </td> </tr>
            <tr> <td> {{ form.disease.label }} </td> <td> {{ form.disease }} </td> </tr>
            </table>
            <p> {{ form.show_author }} {{ form.show_author.label }} </p>
            <p> {{ form.show_title }} {{ form.show_title.label }} </p>
            <p> {{ form.show_source }} {{ form.show_source.label }} </p>
            <p> {{ form.show_url }} {{ form.show_url.label }} </p>
            <p> {{ form.show_url_to_image }} {{ form.show_url_to_image.label }} </p>
            <p> {{ form.show_content }} {{ form.show_content.label }} </p>
            <p> {{ form.show_disease }} {{ form.show_disease.label }} </p>
            <p> {{ form.show_country }} {{ form.show_country.label }} </p>
            <p> {{ form.show_region }} {{ form.show_region.label }} </p>
            <p> {{ form.show_published_at }} {{ form.show_published_at.label }} </p>
            <p> {{ form.submit() }} </p>
        </form>
    </body>
</html>
